


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  

  .container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Input styles */
  #searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  /* Recipe info container */
  #recipeInfo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Recipe card styles */
  #recipeInfo div {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styles */
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Instructions styles */
  p {
    margin-bottom: 10px;
  }
  
  /* Link styles */
  a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Image styles */
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  @media (max-width: 576px) {
    #recipeInfo {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  